body {
  background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



.loader1 {
  border: 16px solid #8cd7ee;
  border-radius: 50%;
  border-top: 16px solid #71db34;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite; /* safari */
  animation: spin 1.5s linear infinite;
}

/* safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



.loader2 {
  border: 16px solid #89db35;
  border-radius: 50%;
  border-top: 16px solid rebeccapurple;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2.3s linear infinite; /* safari */
  animation: spin 2.3s linear infinite;
}

/* safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.loader3 {
  border: 16px solid rosybrown;
  border-radius: 50%;
  border-top: 16px solid brown;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.7s linear infinite; /* safari */
  animation: spin 1.7s linear infinite;
}

/* safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); }
}



.loader4 {
  border: 12px solid rgb(171, 41, 223);
  border-radius: 25%;
  border-top: 4px solid rgb(187, 67, 235);
  border-bottom: 8px solid rgb(187, 67, 235);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 3s linear infinite; /* safari */
  animation: spin 3s linear infinite;
}

/* safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.loader5 {
  border: 24px solid rgb(84, 123, 12);
  border-radius: 25%;
  border-top: 12px solid rgb(98, 141, 19);
  border-bottom: 16px solid rgb(119, 167, 30);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 4s linear infinite; /* safari */
  animation: spin 3s linear infinite;
}

/* safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); }
}